In [176]:
import pandas as pd
import numpy as np

In [177]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [178]:
data = pd.read_csv('water_use.txt', error_bad_lines=False, sep = "\t", header = 0)

C:\Users\jose\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [179]:
data

                           National Totals   1950   1955   1960   1965   1970   1975   1980   1985   1990   1995   2000   2005   2010   2015
0                                     100s    16s    16s    16s    16s    16s    16s    16s    16s    16s    16s    16s    16s    16s    16s
1                  Population, in millions  150.7  164.0  179.3  193.8  205.9  216.4  229.6  242.4  252.3  267.1  285.3  300.7  312.6  325.0
2             Total withdrawals, in Bgal/d    180    240    270    310    370    420    430    397    404    398    413   410a   354a    322
3                 Public supply, in Bgal/d     14     17     21     24     27     29     33   36.6   38.7   40.2   43.3  44.4a   42.0   39.0
4        Self-supplied domestic, in Bgal/d    2.1    2.1    2.0    2.3    2.6    2.8    3.4   3.32   3.39   3.39   3.58  3.73a  3.53a   3.26
5                     Livestock, in Bgal/d    1.5    1.5    1.6    1.7    1.9    2.1    2.2   2.23   2.25   2.28  2.37a   2.15   2.00   2.00
6                    Irrigation, in Bgal/d     89    110    110    120    130    140    150    135    134    130    139    127   116a    118
7          Thermoelectric power, in Bgal/d     40     72    100    130    170    200    210    187    194    190    195    201   162a    133
8      Self-supplied industrial, in Bgal/d     37     39     38     46     47     45     45   25.8  22.4a   21.6  19.5a   18.1  16.2a   14.8
9                        Mining, In Bgal/d      b      b      b      b      b      b      b   3.44   4.93   3.59  4.13a   3.83  3.97a   4.00
10                   Commercial, in Bgal/d      b      b      b      b      b      b      b   1.23   2.39   2.89      c      c      c      c
11                  Aquaculture, in Bgal/d      b      b      b      b      b      b      b   2.24   2.24  3.27a  5.79a  8.83a  8.96a   7.55
12     Total Groundwater, fresh, in Bgal/d     34     47     50     60     68     82     83   73.4   79.4  76.4a  84.3a   78.9  75.9a   82.3
13    Total Groundwater, saline, in Bgal/d      c    0.6    0.4    0.5    1.0    1.0   0.93   0.66  1.30a   1.11  2.47a   1.51  2.22a   2.34
14   Total Surface water, fresh, in Bgal/d    140    180    190    210    250    260    280    263   255a    261    265    270   231a    198
15  Total Surface water, saline, in Bgal/d     10     18     31     43     53     69     71   59.6  68.7a   59.7   61.0  59.8a   45.0   38.6

In [183]:
data = data.drop(index=0)

In [184]:
data = data.transpose()

In [204]:
data

              index                        1                             2                         3                                  4                     5                      6                                7                                    8                  9                     10                      11                                   12                                    13                                     14                                      15
0   National Totals  Population, in millions  Total withdrawals, in Bgal/d  Public supply, in Bgal/d  Self-supplied domestic, in Bgal/d  Livestock, in Bgal/d  Irrigation, in Bgal/d  Thermoelectric power, in Bgal/d  Self-supplied industrial, in Bgal/d  Mining, In Bgal/d  Commercial, in Bgal/d  Aquaculture, in Bgal/d  Total Groundwater, fresh, in Bgal/d  Total Groundwater, saline, in Bgal/d  Total Surface water, fresh, in Bgal/d  Total Surface water, saline, in Bgal/d
1              1950                    150.7                           180                        14                                2.1                   1.5                     89                               40                                   37                  b                      b                       b                                   34                                   NaN                                    140                                      10
2              1955                    164.0                           240                        17                                2.1                   1.5                    110                               72                                   39                  b                      b                       b                                   47                                   0.6                                    180                                      18
3              1960                    179.3                           270                        21                                2.0                   1.6                    110                              100                                   38                  b                      b                       b                                   50                                   0.4                                    190                                      31
4              1965                    193.8                           310                        24                                2.3                   1.7                    120                              130                                   46                  b                      b                       b                                   60                                   0.5                                    210                                      43
5              1970                    205.9                           370                        27                                2.6                   1.9                    130                              170                                   47                  b                      b                       b                                   68                                   1.0                                    250                                      53
6              1975                    216.4                           420                        29                                2.8                   2.1                    140                              200                                   45                  b                      b                       b                                   82                                   1.0                                    260                                      69
7              1980                    229.6                           430                        33                                3.4                   2.2                    150                              210                                   45                  b                      b                       b                                   83                                  0.93                                    280                                      71
8              1985                    242.4                           397                      36.6                               3.32                  2.23                    135                              187                                 25.8               3.44                   1.23                    2.24                                 73.4                                  0.66                                    263                                    59.6
9              1990                    252.3                           404                      38.7                               3.39                  2.25                    134                              194                                22.4a               4.93                   2.39                    2.24                                 79.4                                 1.30a                                   255a                                   68.7a
10             1995                    267.1                           398                      40.2                               3.39                  2.28                    130                              190                                 21.6               3.59                   2.89                   3.27a                                76.4a                                  1.11                                    261                                    59.7
11             2000                    285.3                           413                      43.3                               3.58                 2.37a                    139                              195                                19.5a              4.13a                    NaN                   5.79a                                84.3a                                 2.47a                                    265                                    61.0
12             2005                    300.7                          410a                     44.4a                              3.73a                  2.15                    127                              201                                 18.1               3.83                    NaN                   8.83a                                 78.9                                  1.51                                    270                                   59.8a
13             2010                    312.6                          354a                      42.0                              3.53a                  2.00                   116a                             162a                                16.2a              3.97a                    NaN                   8.96a                                75.9a                                 2.22a                                   231a                                    45.0
14             2015                    325.0                           322                      39.0                               3.26                  2.00                    118                              133                                 14.8               4.00                    NaN                    7.55                                 82.3                                  2.34                                    198                                    38.6

In [203]:
data = data.replace({'c': np.nan})

In [258]:
data = data.replace({'b': 0})

In [238]:
data = data.applymap(lambda x: x.strip("a") if isinstance(x, str) else x)

In [198]:
data = data.reset_index()

In [209]:
data = data.rename(columns = {'index':'year', 1:'population', 2:'total_withdrawals', 3:'public_supply', 4:'self_supplied_domestic', 5:'livestock', 6:'irrigation', 7:'thermoelectric_power', 8:'self_supplied_industrial', 9:'mining', 10:'commercial', 11:'aquacultrue', 12:'total_groundwater_fresh', 13:'total_groundwater_saline', 14:'total_surface_water_fresh', 15:'total_surface_water_saline'})

In [259]:
data

    year  population  total_withdrawals  public_supply  self_supplied_domestic  livestock  irrigation  thermoelectric_power  self_supplied_industrial mining commercial aquacultrue  total_groundwater_fresh  total_groundwater_saline  total_surface_water_fresh  total_surface_water_saline
1   1950       150.7                180           14.0                    2.10       1.50          89                    40                      37.0      0          0           0                     34.0                       NaN                        140                        10.0
2   1955       164.0                240           17.0                    2.10       1.50         110                    72                      39.0      0          0           0                     47.0                      0.60                        180                        18.0
3   1960       179.3                270           21.0                    2.00       1.60         110                   100                      38.0      0          0           0                     50.0                      0.40                        190                        31.0
4   1965       193.8                310           24.0                    2.30       1.70         120                   130                      46.0      0          0           0                     60.0                      0.50                        210                        43.0
5   1970       205.9                370           27.0                    2.60       1.90         130                   170                      47.0      0          0           0                     68.0                      1.00                        250                        53.0
6   1975       216.4                420           29.0                    2.80       2.10         140                   200                      45.0      0          0           0                     82.0                      1.00                        260                        69.0
7   1980       229.6                430           33.0                    3.40       2.20         150                   210                      45.0      0          0           0                     83.0                      0.93                        280                        71.0
8   1985       242.4                397           36.6                    3.32       2.23         135                   187                      25.8   3.44       1.23        2.24                     73.4                      0.66                        263                        59.6
9   1990       252.3                404           38.7                    3.39       2.25         134                   194                      22.4   4.93       2.39        2.24                     79.4                      1.30                        255                        68.7
10  1995       267.1                398           40.2                    3.39       2.28         130                   190                      21.6   3.59       2.89        3.27                     76.4                      1.11                        261                        59.7
11  2000       285.3                413           43.3                    3.58       2.37         139                   195                      19.5   4.13        NaN        5.79                     84.3                      2.47                        265                        61.0
12  2005       300.7                410           44.4                    3.73       2.15         127                   201                      18.1   3.83        NaN        8.83                     78.9                      1.51                        270                        59.8
13  2010       312.6                354           42.0                    3.53       2.00         116                   162                      16.2   3.97        NaN        8.96                     75.9                      2.22                        231                        45.0
14  2015       325.0                322           39.0                    3.26       2.00         118                   133                      14.8   4.00        NaN        7.55                     82.3                      2.34                        198                        38.6

In [211]:
data = data.drop(index=0)

In [239]:
data

    year population total_withdrawals public_supply self_supplied_domestic livestock irrigation thermoelectric_power self_supplied_industrial mining commercial aquacultrue total_groundwater_fresh total_groundwater_saline total_surface_water_fresh total_surface_water_saline
1   1950      150.7               180            14                    2.1       1.5         89                   40                       37      b          b           b                      34                      NaN                       140                         10
2   1955      164.0               240            17                    2.1       1.5        110                   72                       39      b          b           b                      47                      0.6                       180                         18
3   1960      179.3               270            21                    2.0       1.6        110                  100                       38      b          b           b                      50                      0.4                       190                         31
4   1965      193.8               310            24                    2.3       1.7        120                  130                       46      b          b           b                      60                      0.5                       210                         43
5   1970      205.9               370            27                    2.6       1.9        130                  170                       47      b          b           b                      68                      1.0                       250                         53
6   1975      216.4               420            29                    2.8       2.1        140                  200                       45      b          b           b                      82                      1.0                       260                         69
7   1980      229.6               430            33                    3.4       2.2        150                  210                       45      b          b           b                      83                     0.93                       280                         71
8   1985      242.4               397          36.6                   3.32      2.23        135                  187                     25.8   3.44       1.23        2.24                    73.4                     0.66                       263                       59.6
9   1990      252.3               404          38.7                   3.39      2.25        134                  194                     22.4   4.93       2.39        2.24                    79.4                     1.30                       255                       68.7
10  1995      267.1               398          40.2                   3.39      2.28        130                  190                     21.6   3.59       2.89        3.27                    76.4                     1.11                       261                       59.7
11  2000      285.3               413          43.3                   3.58      2.37        139                  195                     19.5   4.13        NaN        5.79                    84.3                     2.47                       265                       61.0
12  2005      300.7               410          44.4                   3.73      2.15        127                  201                     18.1   3.83        NaN        8.83                    78.9                     1.51                       270                       59.8
13  2010      312.6               354          42.0                   3.53      2.00        116                  162                     16.2   3.97        NaN        8.96                    75.9                     2.22                       231                       45.0
14  2015      325.0               322          39.0                   3.26      2.00        118                  133                     14.8   4.00        NaN        7.55                    82.3                     2.34                       198                       38.6

In [232]:
data["year"] = pd.to_datetime(data["year"], errors='coerce').dt.year

In [249]:
data["population"] = data["population"].astype('float')

In [242]:
data["total_withdrawals"] = data["total_withdrawals"].astype('int64')

In [244]:
data["public_supply"] = data["public_supply"].astype('float')

In [246]:
data["self_supplied_domestic"] = data["self_supplied_domestic"].astype('float')

In [248]:
data["livestock"] = data["livestock"].astype('float')

In [250]:
data["irrigation"] = data["irrigation"].astype('int64')

In [251]:
data["thermoelectric_power"] = data["thermoelectric_power"].astype('int64')

In [252]:
data["self_supplied_industrial"] = data["self_supplied_industrial"].astype('float')

In [253]:
data["total_groundwater_fresh"] = data["total_groundwater_fresh"].astype('float')

In [254]:
data["total_groundwater_saline"] = data["total_groundwater_saline"].astype('float')

In [255]:
data["total_surface_water_fresh"] = data["total_surface_water_fresh"].astype('int64')

In [256]:
data["total_surface_water_saline"] = data["total_surface_water_saline"].astype('float')

In [257]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 1 to 14
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        14 non-null     int64
 1   population                  14 non-null     float64
 2   total_withdrawals           14 non-null     int64
 3   public_supply               14 non-null     float64
 4   self_supplied_domestic      14 non-null     float64
 5   livestock                   14 non-null     float64
 6   irrigation                  14 non-null     int64
 7   thermoelectric_power        14 non-null     int64
 8   self_supplied_industrial    14 non-null     float64
 9   mining                      14 non-null     object
 10  commercial                  10 non-null     object
 11  aquacultrue                 14 non-null     object
 12  total_groundwater_fresh     14 non-null     float64
 13  total_groundwater_saline    13 non-null     float64
 14  total_surface_water_fresh   14 non-null     int64
 15  total_surface_water_saline  14 non-null     float64
dtypes: float64(8), int64(5), object(3)
memory usage: 2.4+ KB

In [260]:
data

    year  population  total_withdrawals  public_supply  self_supplied_domestic  livestock  irrigation  thermoelectric_power  self_supplied_industrial mining commercial aquacultrue  total_groundwater_fresh  total_groundwater_saline  total_surface_water_fresh  total_surface_water_saline
1   1950       150.7                180           14.0                    2.10       1.50          89                    40                      37.0      0          0           0                     34.0                       NaN                        140                        10.0
2   1955       164.0                240           17.0                    2.10       1.50         110                    72                      39.0      0          0           0                     47.0                      0.60                        180                        18.0
3   1960       179.3                270           21.0                    2.00       1.60         110                   100                      38.0      0          0           0                     50.0                      0.40                        190                        31.0
4   1965       193.8                310           24.0                    2.30       1.70         120                   130                      46.0      0          0           0                     60.0                      0.50                        210                        43.0
5   1970       205.9                370           27.0                    2.60       1.90         130                   170                      47.0      0          0           0                     68.0                      1.00                        250                        53.0
6   1975       216.4                420           29.0                    2.80       2.10         140                   200                      45.0      0          0           0                     82.0                      1.00                        260                        69.0
7   1980       229.6                430           33.0                    3.40       2.20         150                   210                      45.0      0          0           0                     83.0                      0.93                        280                        71.0
8   1985       242.4                397           36.6                    3.32       2.23         135                   187                      25.8   3.44       1.23        2.24                     73.4                      0.66                        263                        59.6
9   1990       252.3                404           38.7                    3.39       2.25         134                   194                      22.4   4.93       2.39        2.24                     79.4                      1.30                        255                        68.7
10  1995       267.1                398           40.2                    3.39       2.28         130                   190                      21.6   3.59       2.89        3.27                     76.4                      1.11                        261                        59.7
11  2000       285.3                413           43.3                    3.58       2.37         139                   195                      19.5   4.13        NaN        5.79                     84.3                      2.47                        265                        61.0
12  2005       300.7                410           44.4                    3.73       2.15         127                   201                      18.1   3.83        NaN        8.83                     78.9                      1.51                        270                        59.8
13  2010       312.6                354           42.0                    3.53       2.00         116                   162                      16.2   3.97        NaN        8.96                     75.9                      2.22                        231                        45.0
14  2015       325.0                322           39.0                    3.26       2.00         118                   133                      14.8   4.00        NaN        7.55                     82.3                      2.34                        198                        38.6